# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file.

# m h dom mon dow command
15 2 * * * /usr/bin/ntp-query.sh
24 2,14  * * * /etc/ppp/gprs-connection-test.sh
